.backarrow {
    position: fixed;
    top: 10px; /* 50px from the top of the viewport */
    left: 10px; /* 50px from the left of the viewport */
    width: 50px;
    height: auto;
    transform: rotate(180deg);
}

body {

background-image: url('background/trees 3.gif');
background-repeat: repeat; 
background-attachment: fixed; 


font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
 
}


h1 {
color: white;
text-align: center;
font-size: 60px;
}

h2 {
color: white;
text-align: center;
font-size: 35px;
}

p {

color: white;
text-align: center;
font-size: 20px;
margin: 50px 200px 50px 200px;

}

